/* .carousel-main{
    background-color: grey;
    height: auto;
    color: white;
    padding: 50px;

} */
/* .carousel-sec{
    height: 200px;
    width: 160px;
    background-color: indigo;
    padding: 5px;
    align-content: center;
    
} */
/* .card-1{
    justify-content: center;
    align-items: center;
} */
@media (max-width: 576px) {
.card-img img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
}
/* .card-name{
    margin-top: 75px;
    color: black;
    z-index: 999;
} */