
.homepage-btn{
    font-size: 32px;
    color: black;
    background-color: gray;
    border-radius: 50%;
}
.table-heading{
    background-color: brown;
    color: white;
}

.edit-btn{
    color: grey;
}
.delete-btn{
    color:red;
}
.view-btn{
    color: black;
}




.btn-comment {
    position: relative;
    transition: all 0.3s ease;
  }
.btn-comment:hover {
    background-color: #f0f0f0; 
    color: #333; 
    border-color: #ccc; 
  }
.btn-comment:hover::after {
    content: "Download Table ";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    color: #555;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid black;
    white-space: nowrap;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    font-size: 0.875rem;
    left: auto;
    right: 0;
  }
  .btn-comment1{
    position: relative;
    transition: all 0.3s ease;
  }
  .btn-comment1:hover{
    background-color: #f0f0f0; 
    color: #333; 
    border-color: #ccc;
  }
  .btn-comment1:hover::after{
    content: "Print The Table ";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    color: #555;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid black;
    white-space: nowrap;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    font-size: 0.875rem;
    left: auto;
    right: 0;

  }
    
  