.footer{
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(134, 135, 142, 1) 0%, rgba(228, 41, 41, 1) 99%);}
.f-description{
    box-sizing: border-box;
    width: 28%;
}

.f-courses{
    box-sizing: border-box;
    width: 28%;
}
.courses-li{
    display: flex;
}
.address{
    box-sizing: border-box;
    width: 28%;
}