.footer {
    background: linear-gradient(90deg, rgba(134, 135, 142, 1) 0%, rgba(228, 41, 41, 1) 99%);
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.brand-logo1 {
    width: 200px;
    height: 80px;
    display: block;
}

.f-description {
    font-size: 14px;
    margin: 10px 0;
    color: black;
}

.f-courses {
    text-align: left;
    text-transform: uppercase;
    margin: 0px 0px 18px;
    font-weight: 400;
    margin-top: 10px;
}

.f-courses1 {
    margin-top: 50px;
}

.course-li {
    color: black;
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

.row-2 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
}

.cop-rgt-p {
    font-size: 15px;
    color: black;
    margin: 25px 0 25px 0;
    font-weight: 600;
    letter-spacing: .6px;
}

.bottom-pg-links ul {
    justify-content: space-between;
    padding-left: 0 !important;
}

.rounded-social-button {
    margin-top: 20px;
    margin-bottom: 21px;
    justify-content: right !important;
    display: flex;
}

.address {
    padding-left: 0 !important;
}

.social-links {
    justify-content: right !important;
}

.social-media-button {
    font-size: 24px;
    margin-right: 5px;
}

.git-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px
}
.heart{
    color: rgb(255, 20, 20);
    margin-right: 4px;
}
.git-link a {
    margin-left: 5px;
}
.bottom-fixed {
    padding: 8px;
    background: #3A3A3A;
    z-index: 9;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.bottom-fixed-links {
    display: flex;
    justify-content: center;
}
.fixed {
    margin-right: 5px;
    background: #e55d2c;
    border-radius: 8px;
    padding: 2px;
}

@media (max-width:768px) {
    .f-description {
        font-size: 18px;
        text-align: center;
    }

}

@media (max-width:576px) {
    .f-courses1 {
        margin-top: 0px;
    }
}