body {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 14px;
}

.navbar {
  background: rgb(134, 135, 142);
  background: linear-gradient(90deg, rgba(134, 135, 142, 1) 0%, rgba(228, 41, 41, 1) 99%);
  filter: drop-shadow(5px 5px 10px white);
  padding-left: 20px;
  display: flex;
  z-index: 99999;
  font-size: 18px;
  position: sticky;
  top: 0;
}

.brand-logo {

  width: 180px;
  height: 80px;
}
.brand-logo:hover{
  animation: headShake 1s ;
}
.fa-icons{
  margin: 2px;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
  transition: 0.3s ease;
}
.underline::after{
  content: "";
  display: block;
  height: 3px;
  width: auto;
  transform: scale(0);
  transition: transform 0.4s ease;
  background-color: brown;
}
.underline:hover::after{
  transform: scale(1);
  transition: all linear 0.2s;
}
.nav-link:hover{
  animation: pulse 1s;
}
@media (max-width: 576px){
  .brand-logo{
    width: 120px;
    height: 60px;
  }
}