@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
.wrapper{  
    height: 100vh;
    margin: 0; 
    background-image: url(../modules/images/loginpagebg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center; 
    display: flex;
    justify-content: center;
}
.l-label{
    color: white;
}
.login{
    background-color: rgba(114, 241, 246, 0.5);
    /* backdrop-filter: blur(15px); */

    border: 2px solid rgba(230, 28, 28, 0.5);

}

.l-input{
    background: rgba(255, 253, 253, 0.1);
    border: none;
   
}

.c-logo{
    width: 200px;
    height: 100px;
}
.c-btn
{
    background: linear-gradient(360deg, #d2582b, #001f03);
    border: none;
    padding: 8px 50px;
    color: #fff;
    margin-right: 5px;
    border-radius: 10px;
}
 .show-pass-btn{
    border: none;
     background-color: transparent; 
} 
.captcha {
    background-color: #f8f8f8;
    position: relative;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.captcha-reload{
    background-color: transparent;
    margin-left: 2%;
    border: none;
}
.captcha-reload.animate{
    animation: twist 1s ease;
}
@keyframes twist {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

