
.wrapper{  
    height: 100vh;
    margin: 0; 
    background-image: url(../modules/images/loginpagebg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center; 
    display: flex;
    justify-content: center;
}
.l-label{
    color: white;
}
.login{
    background-color: rgba(114, 241, 246, 0.5);
    /* backdrop-filter: blur(15px); */

    border: 2px solid rgba(230, 28, 28, 0.5);

}

.l-input{
    background: rgba(255, 253, 253, 0.1);
    border: none;
   
}

.c-logo{
    width: 200px;
    height: 100px;
}
.c-btn
{
    background: linear-gradient(360deg, #d2582b, #001f03);
    border: none;
    padding: 8px 50px;
    color: #fff;
    margin-right: 5px;
    border-radius: 10px;
}


